<ion-modal-view style="width:100%;bottom:0px;left :0px;right:0;">
 <ion-content style="bottom:120px;position:absolute;left:0px">
        <ion-list style="background-color:white;height:100%">
            <div ng-repeat="item in items" >
                <div ng-click="toggleGroup(item)" class="row listtop " ng-class="{active: isGroupShown(item)}" style="padding-top :15px;padding-bottom :15px;padding-left :10px;padding-right :10px;">
                    <div class=" col-xs-5">{{item.name}}</div><div class="col-xs-5 listitem" ng-class="{active: isGroupShown(item)}">1份</div><div class="col-xs-2 listitem mid" style="color :#F05C5C;">{{item.price}}元</div>
                </div>
                <div class="row" ng-show="isGroupShown(item)" style="border-bottom-color :#808080;border-bottom-style :solid ;border-bottom-width :1px;">
                    <div class="col-xs-9" style=" font-size:12px;color :grey;">
                        <div class=" row">
                            <div class="col-xs-4">能量</div>
                            <div class="col-xs-4">{{item.list11}}</div>
                            <div class=" col-xs-4">{{item.list12}}</div>
                        </div>
                        <div class=" row">
                            <div class="col-xs-4">脂肪</div>
                            <idiv class="col-xs-4">{{item.list21}}</idiv>
                            <div class=" col-xs-4">{{item.list22}}</div>
                        </div>
                        <div class=" row">
                            <div class="col-xs-4">蛋白质</div>
                            <div class="col-xs-4">{{item.list31}}</div>
                            <div class="col-xs-4">{{item.list32}}</div>
                        </div>
                        <div class=" row">
                            <div class="col-xs-4">碳水化合物</div>
                            <div class="col-xs-4">{{item.list41}}</div>
                            <div class=" col-xs-4">{{item.list42}}</div>
                        </div>
                        
                    </div>
                    <div class=" col-xs-3 " style="font-size:46px;color :#3FB869">
                        <div class="col-offset-50 col-50" ><i class=" icon ion-ios-close-outline"></i></div>
                        <div >
                            <div class="col-50">
                            <i class="icon  ion-ios-minus-outline"></i>
                            </div> 
                            <div class="col-50">
                                <i class="icon ion-ios-plus-outline"></i>
                            </div> 
                            </div>
                    </div>
                </div>
              </div> 
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-footer" style=" bottom:0px;height:120px;position:fixed;position:absolute;width:100%;left:0;border-top:solid #969696 1px;background-color :#f1f1f1;"
                    ng-class="{active: isGroupShown(items)}">
        <div class="padding padding-bottom mid" ng-class="{active: isGroupShown(items)}" ng-click="closeModal()" 
             style="bottom:90px;height:60px;position:absolute;width:60px;background-color :#f1f1f1;
             border-radius:30px;left:10px;border-top:solid #969696 1px;
             " role="tab">
            <div style="color:#3FB869;font-size :36px;margin-top :2px;margin-left :-1px;">
              4
            </div>
        </div> 
        <div class="col-xs-4 ">
            <div style="color :#3FB869">项目</div>
            <div class="row ">能量</div>
            <div class="row ">脂肪</div>
            <div class="row ">蛋白质</div>
            <div class="row ">碳水化合物</div>
        </div>
        <div class="col-xs-2 ">
            <div style="color :#3FB869">值</div>
            <div class="row mid">123kj</div>
            <div class="row mid">123kj</div>
            <div class="row mid">123kj</div>
            <div class="row mid">123kj</div>
        </div>
        <div class="col-xs-3 ">
            <div style="color :#3FB869">营养参考值</div>
            <div class="row mid">23%</div>
            <div class="row mid">23%</div>
            <div class="row mid">23%</div>
            <div class="row mid">23%</div>
        </div>
        <div class="col-xs-3  ">
            <div style="color :#3FB869" class="mid">健康完成度</div>
            <div style="color :#3FB869;font-size:30px;margin-top:13px;margin-bottom:13px;text-align :center ;">98%</div>

            <button class="button button-balanced row mid" style="bottom :0px;" ng-click="toggleGroup(items)">加入餐单</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
