<ion-view view-title="我的">
    <ion-nav-bar class="bar-stable  bar-balanced bar  " style="text-align:left;color :#3FB869;">

    </ion-nav-bar>
    <ion-content class="stable-bg">
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/tab/me/aboutme">
                <img ng-src="img/ccccccc.jpg">
                <div class="row ">
                    <div class="col-title col">
                        <div class="col">用户名</div>
                    </div>
                    <div class="col">
                        <div class="col">打卡天数</div>
                        <div class="col">12天</div>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>


            </ion-item>

            <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/me/myinfro">
                <div class="col-center ">基本信息</div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item type="item-text-wrap" style="background-color:#3FB869;color:#fff;padding-top:10px;padding-bottom:0;border-color:#808080">
                <div class="row " style=" align-content:center;text-align:center;">
                    <div style="margin :auto ">
                       <div style="font-size:14px;">饮食状态</div>
                        <div style="background-color:#fff;border-radius:15px;padding:5px;margin:10px;">
                            <span style="font-size:16px;color :#3FB869;">减肥</span>
                        </div>
                        <div style="font-size:10px;">开始时间 2015.11.8</div>

                    </div>

                </div>
            </ion-item>
            <ion-item type="item-text-wrap" style="background-color:#3FB869;color:#fff;padding-top:0;border-color:#808080;padding-bottom:0;">
                <div class="row " style=" align-content:center;text-align:center;">
                    <div style="margin :auto ">
                       
                        <span style="font-size:14px;">饮食目标</span><br />
                        <div class="row">
                            <div class="col" style="padding-right:10px;padding-left:10px;"><img class="list-img " src="img/ionic.png" style="width :35px" /></div>
                            <div class="col" style="padding-right:10px;padding-left:10px;"><img class="list-img " src="img/ionic.png" style="width :35px" /></div>
                            <div class="col" style="padding-right:10px;padding-left:10px;"><img class="list-img " src="img/ionic.png" style="width :35px" /></div>
                        </div></div>

                </div>
            </ion-item>
            <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/me/myaim">
                <div class="col-center ">目标管理</div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          

            <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/me/mysta" >
                <div class="col-center ">好食分析</div>
                <i class="icon ion-chevron-right icon-accessory"></i>
         
        </ion-list>
    </ion-content>
</ion-view>
