<ion-view view-title="自选">
    <ion-nav-bar class="bar-balanced bar-stable  bar " style="text-align:left;color :#3FB869;">

    </ion-nav-bar>
    <ion-content style="background :#ebebeb;">
        <div class="row">
            <div class="canteen-head row">
                <div class=" col-10 col-center" style="padding-top:10px;">
                    <img src=" img/bookred.png" style="width :100%" />
                </div>
                <div class="col-offset-10   col-80">
                    <div class=" row" style="color :black ;font-size:16px;">同济食堂</div>
                    <div class=" row" style="color :grey ;font-size:14px;">食在同济，美味健康。</div>

                </div>
            </div></div>
            <div style="padding-left:10px;padding-right:10px;">
                <ion-list>
                    <a href="#/tab/book/{{chat.id}}" ng-repeat="chat in chats" style=" text-decoration :none ;">
                        <div class="col  item-icon-right canteen " type="item-text-wrap">

                            <div class="col-33 canteenbar linkblk">{{chat.name}}</div>

                        </div>
                    </a>
                </ion-list>
            </div>
            <div class="row">
                <div class="canteen-head row">
                    <div class=" col-10 col-center" style="padding-top:10px;">
                        <img src=" img/bookyellow.png" style="width :100%" />
                    </div>
                    <div class="col-offset-10   col-80">
                        <div class=" row" style="color :black ;font-size:16px;">周围餐点</div>
                        <div class=" row" style="color :grey ;font-size:14px;">早餐或者其他合作餐厅</div>

                    </div>
                </div>
            </div>
</ion-content>
</ion-view>
