<div>

    <ion-header-bar class="bar bar-header item-input-inset bar-balanced startbar" ng-class="{active: isbarShown(news)}">
       
            <a class="col-25 "  style="text-align:center ; color :white;vertical-align :middle ; ">
                今天吃啥
            </a>
            <label class="item-input-wrapper " style="margin-top :2px;margin-bottom :2px;">
                <i class="icon ion-ios-search placeholder-icon" style="color :#3fb869;font-size :18px;"></i>
                <input type="search" placeholder="搜索健康美味">
            </label>

        <br/>
      
    </ion-header-bar>
   </div>         

    <ion-view class="background" view-title="Dashboard" >
        
      
    <ion-content>

        <div class=" listboard ">
            <a href="#/tab/recommend ">
                <div class="listboard-head ">
                    <div class=" left-green">
                        原版未改

                        <i class="icon ion-chevron-right icon-accessory icon-right "></i>
                    </div>
                </div>
            </a>
            <div class="listboard-body ">
                <div class="row ">

                    There is a fire in <b>sector 3</b>
                </div>
                <div class="row">
                    maybe you could  <div style="border-radius: 10px;background-color :#79ce97;color :white ; padding-left :10px;padding-right :10px;">have an apple</div>
                    <br />
                </div><br />
                <div class="row">
                    <div class=" col-xs-6" style="border-radius: 10px;border-color :#79ce97;color :#79ce97 ;border-style:solid ;border-width:1px;margin-left :20px;margin-right :20px;text-align :center ">add in</div>
                    <div class=" col-xs-6" style="border-radius: 10px;border-color :#79ce97;color :#79ce97 ;border-style:solid ;border-width:1px;margin-left :20px;margin-right :20px;text-align :center">details</div>
                </div>
            </div>
        </div>
        <div class="listboard">
            <a href="#/tab/recommend ">
                <div class="listboard-head ">
                    <div class=" left-blue">
                        我的目标

                        <i class="icon ion-chevron-right icon-accessory icon-right "></i>
                    </div>
                </div>
            </a>
            <div class="listboard-body ">
                <div class=" row ">
                    <div class="col-xs-3 ">
                        <a href="#/tab/">
                            <img class="list-img " src="img/ionic.png" style="width :100%" />
                        </a>
                    </div>
                    <div class="col-xs-3 ">
                        <a href="#/tab/">
                            <img class="list-img " src="img/ionic.png" style="width :100%" />
                        </a>
                    </div>
                    <div class="col-xs-3 ">
                        <a href="#/tab/">
                            <img class="list-img " src="img/ionic.png" style="width :100%" />
                        </a>
                    </div>
                    <div class="col-xs-3 ">
                        <a href="#/tab/">
                            <img class="list-img " src="img/ionic.png" style="width :100%" />
                        </a>
                    </div>
                </div>
            </div>
        </div>




    </ion-content>

</ion-view>

