<ion-view view-title="签名" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs>
    <ion-nav-bar class="bar bar-health bar-balanced bar-stable  ">
        <ion-nav-back-button class="button-clear">
            取消
        </ion-nav-back-button>
        <button class="button button-icon icon ion-plus"></button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doSomething()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <label class="item item-input ">
                
                <input type="text" placeholder="签名">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
