<ion-view view-title="昵称" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs >
    <ion-nav-bar class="bar bar-health bar-balanced bar-stable  ">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            取消
        </ion-nav-back-button>
        
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="createContact(newUser)">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <label class="item item-input" ng-repeat="user in users">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="user.name">

            </label>
            <ion-item><div ng-bind="changeName"></div></ion-item> 
        </ion-list>
    </ion-content>
</ion-view>
