<ion-view view-title="我的个人信息"align-title="left" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs>
    <ion-nav-bar class="bar-health bar-balanced bar-stable  bar ">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-right" type="item-text-wrap" ng-click="actshow()">
                <img  ng-src="img/ccccccc.jpg">
                <div class="row ">
                    <div class="col-title col">
                        <div class="col col-center ">头像</div>
                    </div>
                    
                </div>
               
                

            </ion-item>
            

                <label class="item item-input " >
                    <span class="col-25">昵称</span>
                    <input type="text" placeholder="用户名">
                </label>

    
            <ion-item class="" type="">
                <div class="row">


                    <div class="row-title col-33 col-center ">性别</div>
                    <label class="col-33 item item-radio" style="text-align  :center ;margin:auto;border : 1px solid #3FB869; border-bottom-left-radius :7px; border-top-left-radius :7px;" >
                        <input type="radio" name="gender" checked>
                        <div class="item-content " style=" padding-top:5px;padding-bottom:5px;">男</div>
</label>
                    <label class="col-33 item item-radio" style="text-align  :center ;margin:auto;border : 1px solid #3FB869; border-bottom-right-radius :7px; border-top-right-radius :7px;">
                        <input type="radio" name="gender" >
                        <div class="item-content" style=" padding-top:5px;padding-bottom:5px;">女 </div>

</label>
                </div>



              
            </ion-item>


            <label class="item item-input item-select">
                <div class="input-label">
                    大学
                </div>
                <select>
                    <option selected>同济大学</option>
                    <option >复旦大学</option>
                    <option>上海交大</option>
                </select>
            </label>

            <label class="item item-input ">
                <span class="col-25">个性签名</span>
                <input type="text" placeholder="签名">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
